#main{
    height: 50vh;
    width: 50vw;
    border: 2px solid red;
}
.child{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 5px;
    color: white;
    display: inline-block;

}
.child1{
    /* display: none; */
    visibility: hidden;
}
